@model List<ScardovelliBooking.Models.VMs.BookingVM>
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-3">Iscriviti</h1>
    <h2 class="display-4">@ViewData["Date"].ToString("dd/MM/yyy")</h2>
</div>


<div class="d-flex flex-column border m-3 justify-content-center">
    <div class="d-flex flex-row m-5 justify-content-center">
        <div class="flex-column border m-3 p-3 justify-content-center">
            <h3>
                <label>Sezione 1</label>
            </h3>
            <div class="d-flex flex-column border m-2 justify-content-center">
                @foreach (var booking in Model.Where(b => b.Session == 1))
                {
                    <div class="booking1">
                        @booking.UserName
                    </div>
                }
            </div>
            @if (Model.Where(b => b.Session == 1).Count() >= 6)
            {
                <p>Massimo Raggiunto</p>
            }
            else
            {
                <input name="Session" class="radio" id="session1" type="radio" value="1" />
            }
        </div>
        <div class="flex-column border m-3 p-3 justify-content-center">
            <h3>
                <label>Sezione 2</label>
            </h3>
            <div class="d-flex flex-column border m-2 justify-content-center">
                @foreach (var booking in Model.Where(b => b.Session == 2))
                {
                    <div class="booking2">
                        @booking.UserName
                    </div>
                }
            </div>
            @if (Model.Where(b => b.Session == 2).Count() >= 6)
            {
                <p>Massimo Raggiunto</p>
            }
            else
            {
                <input name="Session" class="radio" id="session1" type="radio" value="2" />
            }
        </div>
    </div>
    <div class="d-inline-flex flex-column border m-3 align-items-center">
        <div class="d-flex flex-column border m-3 justify-content-center inputPane">
            <label>Nome : </label>
            <input id="userName" type="text" placeholder="Nome Utente" />
        </div>
        <button class="btn btn-success" id="bookBtn">Iscriviti</button>
    </div>
</div>


<script>
    var postUrl = "@Url.Action("Book", "Home")";
    var indexUrl = "@Url.Action("Index", "Home")";

    $('#bookBtn').click(function () {
        HandleBooking(postUrl);
    });

    $("input[name='Session']").change(function () {
        $('#bookBtn').prop('disabled', false);
        debugger;
        if (this.checked) {

            if ($(`.booking${this.value}`).length >= 6) {
                $('#bookBtn').prop('disabled', true);
            }

        } else {
                $('#bookBtn').prop('disabled', false);
        }

    })
</script>