@model ScardovelliBooking.Models.VMs.BookingVM
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-3">Iscriviti</h1>
    <h2 class="display-4">@ViewData["Date"]</h2>
</div>


<div class="d-flex flex-column border m-3 justify-content-center">
    <div class="d-flex flex-row m-5 justify-content-center">
        <div class="flex-column border m-3 p-3 justify-content-center">
            <h3>
                <label>Sezione 1</label>
            </h3>
            <div class="d-flex flex-column border m-2 justify-content-center">
                @foreach (var booking in Model.Bookings.Where(b => b.Session == 1))
                {
                <div class="booking1 d-flex flex-row" value="@booking.ID">
                    @booking.UserName
                    <button id="@booking.UserName" class="cancelBtn">
                        <img src="~/remove.png" style="width: 25px; height:25px" />
                    </button>
                </div>
                }
            </div>
            @if (Model.Bookings.Where(b => b.Session == 1).Count() >= Model.MaxCapacity)
            {
                <p>Massimo Raggiunto</p>
            }
            else
            {
                <input name="Session" class="radio" id="session1" type="radio" value="1" />
            }
        </div>
        <div class="flex-column border m-3 p-3 justify-content-center">
            <h3>
                <label>Sezione 2</label>
            </h3>
            <div class="d-flex flex-column border m-2 justify-content-center">
                @foreach (var booking in Model.Bookings.Where(b => b.Session == 2))
                {
                    <div class="booking2 d-flex flex-row" value="@booking.ID">
                            @booking.UserName
                        <button id="@booking.UserName" class="cancelBtn">
                            <img src="~/remove.png" style="width: 25px; height:25px" />
                        </button>
                    </div>
                }
            </div>
            @if (Model.Bookings.Where(b => b.Session == 2).Count() >= Model.MaxCapacity)
            {
                <p>Massimo Raggiunto</p>
            }
            else
            {
                <input name="Session" class="radio" id="session1" type="radio" value="2" />
            }
        </div>
    </div>
    <div class="d-inline-flex flex-column border m-3 align-items-center">
        <div class="d-flex flex-column border m-3 justify-content-center inputPane">
            <label>Nome : </label>
            <input id="userName" type="text" placeholder="Nome Utente" />
        </div>
        <button class="btn btn-success" id="bookBtn" disabled>Iscriviti</button>
    </div>
</div>


<script>
    var postUrl = "@Url.Action("Book", "Home")";
    var indexUrl = "@Url.Action("Index", "Home")";
    var deleteUrl = "@Url.Action("Delete", "Home")";

    $('#bookBtn').click(function () {
        HandleBooking(postUrl);
    });

    $("input[name='Session']").change(function () {
        $('#bookBtn').prop('disabled', false);
        
        if (this.checked) {

            @*if ($(`.booking${this.value}`).length >= @Model.MaxCapacity) {
                $('#bookBtn').prop('disabled', true);
            }*@
                $('#bookBtn').prop('disabled', false);

        } else {
            $('#bookBtn').prop('disabled', true);
        }

    })

    $('.cancelBtn').click(function () {
        DeleteBooking(deleteUrl, this.id);
    })
</script>